/* CSS files add styling rules to your content */

body {
  background-color: #CAF5FF;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: 'courier new';
  color: grey;
  text-align:center;
}

h2 {
  font-family:'verdana';
  color: gray;
}
h3 {
  font-family:'verdana';
  color: gray;
}
p {
  color: gray
}
ul {
  color: gray
}
